<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.cognizant.practice.Testclass2"/>
      <class name="com.cognizant.practice.Test1"/>
      <class name="com.cognizant.practice.Testclass3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
